{% extends 'base.html' %}
{% block pagetitle1 %}Email Setup{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Email Setup</h4>
        </div>
        <div class="content">

        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">Email Configuration</a></li>
                                <li><a href="#tab2default" data-toggle="tab">Email Templates</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">
                                    <form action="{% url 'emailsetup' %}" method="post">
                                 {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Mail Server</label>
                                                    <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                    {{ form.smtp_host }}
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Port</label>
                                                    <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                    {{ form.port }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>User Name</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    {{ form.user_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Passworde</label>
                                                    <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                    {{ form.password }}
                                                </div>
                                            </div>
                                        </div>

                                </div>

                                <div class="tab-pane fade " id="tab2default" >

                                        <div class="row">
                                            <div class="col-md-6">

                                                    <label>Template Name</label>
                                                    <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.template_name }}
                                                </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>From</label>
                                                    <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                    {{ form.from_field }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Subject</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    {{ form.subject }}
                                                </div>
                                            </div>

                                        </div>

                                         <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Body</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    {{ form.body }}
                                                </div>
                                            </div>

                                        </div>



                                        <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    $('.nav-tabs a').on('shown.bs.tab', function(event){
        var x = $(event.target).text();
        var y = $(event.relatedTarget).text();
        $(".act span").text(x);
        $(".prev span").text(y);
    });
});
</script>

    {% endblock %}