{% extends 'base.html' %}
{% block pagetitle1 %}Add Inbound Rule{% endblock %}
{% load staticfiles %}
{% block content %}

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Inbound Rule</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form action="{% url 'add_inbound' %}" method="post">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.type }}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >Name</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.name }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Trunk</label>
                                                <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                {{ form.trunk }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>DID No</label>
                                                <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                {{ form.did_number }}
                                            </div>
                                        </div>
                                    </div>

                                <!--<div class="row">-->
                                        <!--<div class="col-md-6">-->
                                            <!--<div class="form-group">-->
                                                <!--<label>In Office Routing</label>-->
                                                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Warren" >&ndash;&gt;-->
                                                <!--{{ form.in_office_routing }}-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-6">-->
                                            <!--<div class="form-group">-->
                                                <!--<label>Out Office Routing</label>-->
                                                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Buffet">&ndash;&gt;-->
                                                <!--{{ form.out_office_routing }}-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->




                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

       {% endblock %}