{% extends 'base.html' %}
{% block pagetitle1 %}Inbound Rules{% endblock %}
{% load staticfiles %}
{% url 'add_inbound' as add_inbound %}
{% block content %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Inbound Rules</h4>
                                <div class="header">
                                <a href="{% url 'add_inbound' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Trunk</th>
                                        <th>DID Number</th>
                                        <th>In Office Routing</th>
                                        <th>Out Office Routing</th>
<th></th>

                                    </thead>
                                    <tbody>
                                    {% for obj in inbound_obj %}
                                        <tr>
                                             <td><a href="{% url 'edit_inbound' obj.id %}"><span><i class="fa fa-edit"></i></span></a>

                                            <td>{{ obj.type }}</td>
                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.trunk }}</td>
                                            <td>{{ obj.did_number }}</td>
                                            <td>{{ obj.in_office_routing }}</td>
                                            <td>{{ obj.out_office_routing }}</td>

<td><a href="{% url 'delete_inbound' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}