{% extends 'base.html' %}
{% block pagetitle1 %}Devices{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_devices' as add_devices %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Phones</h4>
                                <div class="header">
                                <a href="{% url 'add_devices' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>Extension</th>
                                    	<th>Vendor</th>
                                    	<th>Model</th>
                                    	<th>FW. Version</th>
                                    	<th>Name</th>
                                        <th>User ID</th>
                                        <th>Password</th>
                                        <th>IP</th>
                                        <th>MAC</th>
<th></th>
                                    </thead>
                                    <tbody>
                                    {% for obj in device_obj %}
                                        <tr>
                                            <td><a href="{% url 'edit_device' obj.id %}"><span><i class="fa fa-edit"></i></span></a>
                                        	<td>{{ obj.extension }}</td>
                                        	<td>{{ obj.vendor }}</td>
                                        	<td>{{ obj.model }}</td>
                                        	<td>{{ obj.firmware }}</td>
                                        	<td>{{ obj.name }}</td>
                                            <td>{{ obj.user_id }}</td>
                                            <td>{{ obj.password }}</td>
                                            <td>{{ obj.ip_address }}</td>
                                            <td>{{ obj.mac_address }}</td>
                                             <td><a href="{% url 'delete_device' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

{% endblock %}