{% extends 'base.html' %}
{% block pagetitle1 %}Voice mail{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Voice mail</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Voice mail Extension</label>
                                                <input type="text" class="form-control"  placeholder="0000">
                                            </div>
                                        </div>


                                    </div>
 <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Current Quota</label>
                                                <input type="text" class="form-control"  placeholder="0000">
                                            </div>
                                        </div>


                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Wakeup Device</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>


{% endblock %}