{% extends 'base.html' %}
{% block pagetitle1 %}Outboound Rules{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_outbound' as add_outbound %}
 <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Outbound Rules</h4>
                                <div class="header">
                                 <a href="{% url 'add_outbound' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>
                                    <a href="#"><img src="{% static 'media/images/edit.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Edit</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>Outbound Rule Name</th>
                                        <th>Call From Extension</th>
                                        <th>Trunk</th>
                                        <th>Extension</th>

                                        <th></th>


                                    </thead>
                                    <tbody>
                                    {% for obj in out_obj %}
                                        <tr>
                                             <td><a href="{% url 'edit_outbound' obj.id %}"><span><i class="fa fa-edit"></i></span></a>

                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.call_from }}</td>
                                            <td>{{ obj.prefix }}</td>
                                            <td>{{ obj.ext_group }}</td>
                                            <td><a href="{% url 'delete_outbound' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}