{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_contacts' as add_contacts %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">CRM</h4>
                                <div class="header">
                               <a href="{% url 'add_crm' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>
                                    <a href="#"><img src="{% static 'media/images/edit.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Edit</span></a>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>CRM Name</th>
                                        <th>Contact Match Link</th>
                                    <th>Create Contact Link</th>
                                    <th>Journeling Link</th>




                                    </thead>
                                    <tbody>
                                    {% for obj in contat_obj %}
                                        <tr>
                                            <td> {{ obj.crm.crm_name }}</td>
                                            <td> {{ obj.contact_match_link }}</td>
                                            <td> {{ obj.create_contact_link }}</td>
                                            <td> {{ obj.journeling_link }}</td>




                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}