{% extends 'base.html' %}
{% block pagetitle1 %}Add Ring-group{% endblock %}
{% load staticfiles %}
{% block content %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<!--<script src="{% static 'static/javascript/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'static/javascript/select2.min.js' %}"></script>-->

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Add Ring-group</h4>
        </div>
        <div class="content">

        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>
                                <li><a href="#tab2default" data-toggle="tab">Users/Extensions</a></li>

                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">
                                    <form action="{% url 'add_ringgroups' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Extension</label>
                                                    <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                    {{ form.extension }}
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                    {{ form.name }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Type</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    {{ form.type }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>If No Answer </label>
                                                    <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                    {{ form.if_no_ans }}
                                                </div>
                                            </div>
                                        </div>


                                </div>

                                <div class="tab-pane fade" id="tab2default">

                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Users</label>
                                                    <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                    {{ form.users }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <!--<button onclick="var el = document.getElementsByTagName('select')[0];-->
  <!--alert(getSelectValues(el));">Show selected values-->
                                                    <!--</button>-->
                                                </div>
                                            </div>
                                        </div>

                                            <button type="submit" class="btn btn-info btn-fill pull-right">Update
                                            </button>
                                            <div class="clearfix"></div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
</div>
</div>

<!--<script>-->
    <!--function getSelectValues(select) {-->
  <!--var result = [];-->
  <!--var options = select && select.options;-->
  <!--var opt;-->
  <!--var textarea2 = document.getElementById("selectedext");-->

  <!--for (var i=0, iLen=options.length; i<iLen; i++) {-->
    <!--opt = options[i];-->

    <!--if (opt.selected) {-->
      <!--result.push(opt.text);-->
       <!--textarea2.value= result;-->
    <!--}-->
  <!--}-->
  <!--return result;-->
<!--}-->


</script>
<script>
$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
    });
</script>
<!--
<script>
$(document).ready(function() {
    $('#select2Form')
        .find('[name="colors"]')
            .select2()
            // Revalidate the color when it is changed
            .change(function(e) {
                $('#select2Form').formValidation('revalidateField', 'colors');
            })
            .end()
        .find('[name="colors-tags"]')
            .select2({
                // Specify tags
                tags: ['Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow', 'White']
            })
            // Revalidate the color when it is changed
            .change(function(e) {
                $('#select2Form').formValidation('revalidateField', 'colors-tags');
            })
            .end()
        .formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                colors: {
                    validators: {
                        callback: {
                            message: 'Please choose 2-4 color you like most',
                            callback: function(value, validator, $field) {
                                // Get the selected options
                                var options = validator.getFieldElements('colors').val();
                                return (options != null && options.length >= 2 && options.length <= 4);
                            }
                        }
                    }
                },
                'colors-tags': {
                    validators: {
                        callback: {
                            message: 'Please choose 2-4 color you like most',
                            callback: function(value, validator, $field) {
                                // Get the selected options
                                var options  = validator.getFieldElements('colors-tags').val(),
                                    options2 = options.split(',');
                                return (options2 !== null && options2.length >= 2 && options2.length <= 4);
                            }
                        }
                    }
                }
            }
        });
});
</script>-->

{% endblock %}