{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_ringgroups' as add_ringgroups %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Ring Groups</h4>
                                <div class="header">
                           <a href="{% url 'add_ringgroups' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>Extension</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Destination if no answer</th>
                                        <th></th>


                                    </thead>
                                    <tbody>
                                    {% for obj in rg_obj %}
                                        <tr>
                                            <td><a href="{% url 'edit_ringgroup' obj.id %}"><span><i class="fa fa-edit"></i></span></a>

                                            <td>{{ obj.extension }}</td>
                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.type }}</td>
                                            <td>{{ obj.if_no_ans }}</td>
                                            <td><a href="{% url 'delete_ringroup' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}