<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<P>DAYANAND {{user}}</P>
{% for usr in user %}
<p>{{usr}}</p>
{% endfor %}

</body>
</html>