{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-12">
            {% url 'clients' as clients %}
            {% url 'blocklist' as blocklist %}
            {% url 'callparking' as callparking %}
            {% url 'conference' as conference %}
            {% url 'network' as network %}
            {% url 'emailsetup' as emailsetup %}
            {% url 'profile' as profile %}
            {% url 'moh' as moh %}
            {% url 'security' as security %}
            {% url 'xmltemplates' as xmltemplates %}
            {% url 'voicemail' as voicemail %}
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Settings</h4>
                            </div>
                            <div class="content all-icons">
                                <div class="row">
                                  <!--<div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">-->
                                    <!--<div class="font-icon-settings"><i class="fa fa-server"></i><br/>-->
                                    <!--<i class="font-icon-settings-lable"><a href="{% url 'clients' %}"> UTG Client</a></i>-->
                                    <!--</div>-->

                                  <!--</div>-->
                                  <div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">
                                     <div class="font-icon-settings"><i class="fa fa-ban"></i><br/>
                                         <i class="font-icon-settings-lable"><a href="{% url 'blocklist' %}">Blacklisted Number</a></i>
                                    </div>

                                  </div>
                                  <div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">
                                     <div class="font-icon-settings"><i class="fa fa-phone"></i><br/>
                                         <i class="font-icon-settings-lable"><a href="{% url 'callparking' %}">Call Parking</a></i>
                                    </div>

                                  </div>
                                  <div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">
                                     <div class="font-icon-settings"><i class="fa fa-users"></i><br/>
                                         <i class="font-icon-settings-lable"><a href="{% url 'conference' %}">Conference</a></i>
                                    </div>

                                  </div>
                                  <div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">
                                    <!--<div class="font-icon-settings"><i class="fa fa-globe"></i><br/>-->
                                        <!--<i class="font-icon-settings-lable"><a href="{% url 'network' %}">CRM Integration</a></i>-->
                                    <!--</div>-->

                                       <div class="font-icon-settings"><i class="fa fa-cloud-upload"></i><br/>
                                         <i class="font-icon-settings-lable"><a href="{% url 'voicemail' %}">Voice Mail</a></i>
                                    </div>

                                  </div>
                                  <div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">
                                     <div class="font-icon-settings"><i class="fa fa-envelope"></i><br/>
                                         <i class="font-icon-settings-lable"><a href="{% url 'emailsetup' %}">Email Setup</a></i>
                                    </div>

                                  </div>
                                  <!--<div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">-->
                                     <!--<div class="font-icon-settings"><i class="fa fa-id-card"></i><br/>-->
                                         <!--<i class="font-icon-settings-lable"><a href="{% url 'profile' %}">Profile</a></i>-->
                                    <!--</div>-->

                                  <!--</div>-->
                                  <div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">
                                     <div class="font-icon-settings"><i class="fa fa-eercast"></i><br/>
                                         <i class="font-icon-settings-lable"><a href="{% url 'moh' %}">Music on Hold</a></i>
                                    </div>

                                  </div>
                                  <!--<div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">-->
                                     <!--&lt;!&ndash;<div class="font-icon-settings"><i class="fa fa-hdd-o"></i><br/>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="font-icon-settings-lable">PBX</i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
 <!--<div class="font-icon-settings"><i class="fa fa-lock"></i><br/>-->
                                         <!--<i class="font-icon-settings-lable"><a href="{% url 'security' %}">Security</a></i>-->
                                    <!--</div>-->
                                  <!--</div>-->
                                  <!--<div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">-->
                                     <!--<div class="font-icon-settings"><i class="fa fa-lock"></i><br/>-->
                                         <!--<i class="font-icon-settings-lable"><a href="{% url 'security' %}">Security</a></i>-->
                                    <!--</div>-->

                                  <!--</div>-->
                                  <!--<div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">-->
                                     <!--<div class="font-icon-settings"><i class="fa fa-file-o"></i><br/>-->
                                         <!--<i class="font-icon-settings-lable"><a href="{% url 'xmltemplates' %}">Templates</a></i>-->
                                    <!--</div>-->

                                  <!--</div>-->
                                  <div class="font-icon-list col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-3">
                                     <!--<div class="font-icon-settings"><i class="fa fa-cloud-upload"></i><br/>-->
                                         <!--<i class="font-icon-settings-lable"><a href="{% url 'voicemail' %}">Voice Mail</a></i>-->
                                    <!--</div>-->

                                  </div>


                                  </div>
                                </div>


                            </div>
                        </div>
                    </div>
{% endblock %}