{% extends 'base.html' %}
{% block pagetitle1 %}Security{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Security</h4>
        </div>
        <div class="content">

        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">Anti Hacking</a></li>
                                <li ><a href="#tab2default" data-toggle="tab">Secure SIP</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Failed Authentication Protectionr</label>
                                                    <input type="text" class="form-control"  placeholder="0000">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Failed Challenge Requests (407)</label>
                                                    <input type="email" class="form-control" placeholder="demo@utg.com">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Blacklist time interval</label>
                                                    <input type="text" class="form-control" placeholder="Warren" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Security Barrier (Green)</label>
                                                    <input type="text" class="form-control" placeholder="Buffet">
                                                </div>
                                            </div>
                                        </div>



                                        <button type="submit" class="btn btn-info btn-fill pull-right">Update </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                                <div class="tab-pane fade in active" id="tab2default">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Certificate</label>
                                                    <input type="text" class="form-control"  placeholder="0000">
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>SIP</label>
                                                    <input type="text" class="form-control" placeholder="Warren" >
                                                </div>
                                            </div>

                                        </div>




                                        <button type="submit" class="btn btn-info btn-fill pull-right">Update </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}