{% extends 'base.html' %}
{% block pagetitle1 %}Add Contacts{% endblock %}
{% load staticfiles %}
{% block content %}

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Contacts</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form action="{% url 'add_contacts' %}" method="post">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.first_name }}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >Last Name</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Company</label>
                                                <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                {{ form.company }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Business</label>
                                                <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                {{ form.business }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <!--<input type="text" class="form-control" placeholder="918212345837" maxlength="12">-->
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile</label>
                                                <!--<input type="text" class="form-control" placeholder="5555">-->
                                                {{ form.mobile }}
                                            </div>
                                        </div>
                                    </div>



                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

       {% endblock %}