{% extends 'base.html' %}
{% block pagetitle1 %}Contacts{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_contacts' as add_contacts %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Contacts</h4>
                                <div class="header">
                               <a href="{% url 'add_contacts' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>
                                    <a href="#"><img src="{% static 'media/images/edit.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Edit</span></a>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Company</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Business</th>
<th></th>


                                    </thead>
                                    <tbody>
                                    {% for obj in contat_obj %}
                                        <tr>
                                              <td><a href="{% url 'edit_contact' obj.id %}"><span><i class="fa fa-edit"></i></span></a>

                                            <td>{{ obj.first_name }}</td>
                                            <td>{{ obj.last_name }}</td>
                                            <td>{{ obj.company }}</td>
                                            <td>{{ obj.mobile }}</td>
                                            <td>{{ obj.email }}</td>
                                            <td>{{ obj.business }}</td>
<td><a href="{% url 'delete_contact' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>


                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}