{% extends 'base.html' %}
{% block pagetitle1 %}Music On Hold{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">MOH</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                             <form action="{% url 'moh' %}" method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Music 1</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                               <audio controls>

  <source src="Thraas_Aakkathi.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Music 1</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.audio_file }}

                                            </div>
                                        </div>


                                    </div>
                                 <!--<div class="row">-->
                                        <!--<div class="col-md-10">-->
                                            <!--<div class="form-group">-->
                                                <!--<label>Music 2</label>-->
                                                <!--&lt;!&ndash;<input type="text" class="form-control"  placeholder="0000">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<i class="fa_icon icon-upload-alt margin-correction"></i>&ndash;&gt;-->
                                                <!--{{ form.docfile2 }}-->
                                            <!--</div>-->
                                        <!--</div>-->


                                    <!--</div>-->
                                 <!--<div class="row">-->
                                        <!--<div class="col-md-10">-->
                                            <!--<div class="form-group">-->
                                                <!--<label>Music 3</label>-->
                                                <!--&lt;!&ndash;<input type="text" class="form-control"  placeholder="0000">&ndash;&gt;-->
                                                <!--{{ form.docfile3 }}-->
                                            <!--</div>-->
                                        <!--</div>-->


                                    <!--</div>-->
                                 <!--<div class="row">-->
                                        <!--<div class="col-md-10">-->
                                            <!--<div class="form-group">-->
                                                <!--<label>Music 4</label>-->
                                                <!--&lt;!&ndash;<input type="text" class="form-control"  placeholder="0000">&ndash;&gt;-->
                                                <!--{{ form.docfile4 }}-->
                                            <!--</div>-->
                                        <!--</div>-->


                                    <!--</div>-->
                                 <!--<div class="row">-->
                                        <!--<div class="col-md-10">-->
                                            <!--<div class="form-group">-->
                                                <!--<label>Music 5</label>-->
                                                <!--&lt;!&ndash;<input type="text" class="form-control"  placeholder="0000">&ndash;&gt;-->
                                                <!--{{ form.docfile5 }}-->
                                            <!--</div>-->
                                        <!--</div>-->


                                    <!--</div>-->





                                    <button type="submit" class="btn btn-info btn-fill pull-right">Setup</button>

                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>


{% endblock %}