

body {
    margin:0;
    padding:0;
    background: #f2f2f2;
}

* {
    box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding-top: 2px;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #337ab7;
    color: white;
    width:200px;
}
.vertical-menu {
    width: 200px;
   height:100vh;
   /*float:left;*/
       margin-left: -102px;
}

.vertical-menu a {
    background-color: #425170;
    color: white;
    display: block;
    padding: 17px;
    text-decoration: none;
    /*height: 100%;*/
    overflow: auto;
    font-size: 17px;
    border-bottom:1px solid #666;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #2f3a50;
    color: white;
}
.image{
    display: inline-block;
    width: 50px;
    height:50px;
    background: white;
    border-radius:50%;
    color:white;
	font-size:10px;
	position:absolute;
}
.img-head{
	color:white;
	font-size:10px;
	position:relative;
      top:0;
}
.icon{
	float:right;
}
.bg{
	background: #f2f2f2;
}
.main-content{
	padding-left: 10px;
}
