{% extends 'base.html' %}
{% block pagetitle1 %}Bridges{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Bridges</h4>
                                <div class="header">
                                <i class="title">Add</i>
                                <i class="title">Edit</i>
                                <i class="title">Delete</i>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Name</th>
                                        <th>SBC/Tunnel</th>
                                        <th>Type</th>
                                        <th>SIM Calls</th>
                                        <th>Bridge ID</th>
                                        <th>Prefix</th>


                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Dakota Rice</td>
                                            <td>$36,738</td>
                                            <td>Niger</td>
                                            <td>Oud-Turnhout</td>
                                            <td>Oud-Turnhout</td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
{% endblock %}