{% extends 'base.html' %}
{% block pagetitle1 %}Edit Users{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit User</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                             <form action="{% url 'edit_users' %}" method="post">
                                 {% csrf_token %}



                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>User ID</label>
                                                <!--<input type="text" class="form-control" name="=username" placeholder="0000">-->
                                                {{ form.username }}
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <!--<input type="email" class="form-control" name="email" placeholder="demo@utg.com">-->
                                                {{ form.email }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <!--<input type="text" class="form-control" name="first_name" placeholder="Warren" >-->
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <!--<input type="text" class="form-control" name="last_name" placeholder="Buffet">-->
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
    <label >User Type</label>
    <!--<select class="form-control" id="exampleFormControlSelect1" name="user_type">-->
      <!--<option value="1">Super Admin</option>-->
      <!--<option value="2">Admin</option>-->
      <!--<option value="3">Agent</option>-->
      <!--<option value="4">User</option>-->
    <!--</select>-->
                                                {{ form.usertype }}
  </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <!--<input type="password" class="form-control" name="password" placeholder="******">-->
                                                {{ form.password }}
                                            </div>
                                        </div>
                                    </div>
 <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Outbound Caller ID</label>
                                                <!--<input type="text" class="form-control" name="=username" placeholder="0000">-->
                                                {{ form.outbound_caller_id }}
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <!--<input type="email" class="form-control" name="email" placeholder="demo@utg.com">-->
                                                {{ form.mobile }}
                                            </div>
                                        </div>
                                    </div>

                                  <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Domain</label>
                                                <!--<input type="text" class="form-control" name="=username" placeholder="0000">-->
                                                {{ form.domain }}
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>
{% endblock %}