{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}

{% url 'add_users' as add_users %}




<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users</h4>
                                <div class="header">
                                <a href="{% url 'add_users' %}"><img src="{% static 'media/images/add.png'  %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>


                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th></th>
                                        <th>Extension</th>
                                        <th>Group</th>
                                         <th>Email</th>
                                         <th>Mobile</th>
                                        <th>Name</th>
                                        <th>Outbound</th>
                                        <th>Enabled</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                     {% for obj in obj_usr %}
                                        <tr>
                                            <td><a href="{% url 'edit_users' obj.username %}"><span><i class="fa fa-edit"></i></span></a>

                                                    <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">-->


                                            </td>
                                            <td>{{ obj.username }}</td>
                                            <td>
                                               <!--{{ obj.user_group }}-->
                                                {% if obj.user_group == 1 %}Super Admin{% endif %}
                                                {% if obj.user_group == 2 %}Admin{% endif %}
                                                {% if obj.user_group == 3 %}Agent{% endif %}
                                                {% if obj.user_group == 4 %}User{% endif %}
                                            </td>
                                            <td>{{ obj.email }}</td>
                                             <td>{{ obj.mobile }}</td>
                                             <td>{{ obj.name }}</td>
                                             <td>{{ obj.outbound_caller_id }}</td>
                                            <td>{{ obj.is_enabled }}</td>

                                                 <td><a href="{% url 'delete_users' obj.username %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>


                                        </tr>
                                     {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
{% endblock %}