{% extends 'base.html' %}
{% block pagetitle1 %}Dialplan{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_dialplan' as add_dialplan %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Dialplan</h4>
            <div class="header">
                <a href="{% url 'add_dialplan' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

            </div>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
<th></th>
                <th>Name</th>
                <th>Condition1</th>
                <th>Action1</th>
                <th>Value 1</th>
                <th>Condition2</th>
                <th>Action2</th>
                <th>Value 2</th>
                <th>Description</th>
                <th></th>
                </thead>
                <tbody>
                {% for obj in dial_obj %}
                <tr>
 <td><a href="{% url 'edit_dialplan' obj.id %}"><span><i class="fa fa-edit"></i></span></a>
                                            </td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.condition1 }}</td>
                    <td>{{ obj.action1 }}</td>
                    <td>{{ obj.value1 }}</td>
                     <td>{{ obj.condition2 }}</td>
                    <td>{{ obj.action2 }}</td>
                    <td>{{ obj.value2 }}</td>
                    <td>{{ obj.description }}</td>

                                                 <td><a href="{% url 'delete_dialplan' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>


                </tr>
        {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}