{% extends 'base.html' %}
{% block pagetitle1 %}Add Dialplan{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Add Dialplan</h4>
        </div>
        <div class="content">

        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">
                                    <form action="{% url 'add_dialplan' %}" method="post">

                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Extension/Expression</label>
                                                    <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                    {{ form.name }}
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Condition 1</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    {{ form.condition1 }}
                                                </div>
                                            </div>
                                             <div class="col-md-3">

                                                  <div class="form-group">
                                                    <label>Value1</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    {{ form.actionvalue1 }}
                                                </div>
                                            </div>

 <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Condition 2</label>
                                                    <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                    {{ form.condition2 }}
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                                 <div class="form-group">
                                                    <label>Value2</label>
                                                    <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                    {{ form.actionvalue2 }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
 <div class="col-md-3">
                                              <div class="form-group">
                                                    <label>Action 1</label>
                                                    <!--<input type="text" class="form-control" placeholder="918212345837" maxlength="12">-->
                                                    {{ form.action1 }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">

                                                  <div class="form-group">
                                                    <label>Value1</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    {{ form.condition1value }}
                                                </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Action 2</label>
                                                    <!--<input type="text" class="form-control" placeholder="5555">-->
                                                    {{ form.action2 }}
                                                </div>

                                            </div>
                                            <div class="col-md-3">

                                                 <div class="form-group">
                                                    <label>Value2</label>
                                                    <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                    {{ form.condition2value }}
                                                </div>
                                            </div>

                                        </div>

                                         <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <!--<input type="text" class="form-control" placeholder="918212345837" maxlength="12">-->
                                                    {{ form.description }}
                                                </div>
                                            </div>

                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Add Dialplan</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}