{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}

{% url 'add_extensions' as add_extensions %}
<div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form action="{% url 'add_extensions' %}" method="post">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Extension</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >Email address</label>
                                                <input type="email" class="form-control" placeholder="demo@utg.com">
                                                 <!--{{ form.extension }}-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <!--<input type="text" class="form-control" placeholder="918212345837" maxlength="12">-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Outbound caller ID</label>
                                                <!--<input type="text" class="form-control" placeholder="5555">-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <!--<input type="text" class="form-control" placeholder="Leave empty to use extnsion as ID" >-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <!--<input type="number" class="form-control" placeholder="******">-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Web meeting URL</label>
                                                <!--<input type="number" class="form-control" placeholder="webmeet123">-->
                                                 {{ form.extension }}
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>
                       
                        </div>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}