{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}

{% url 'add_extensions' as add_extensions %}
<div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">

                            <li><a href="#tab2default" data-toggle="tab">Voicemail</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">

                        <div class="tab-pane fade in active" id="tab2default">
                        <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                        Enable Voice mail
                                                    </label>
                                        </div>


                                    </div>
                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >Pin Number</label>
                                                <input type="email" class="form-control" placeholder="demo@utg.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group dropdown">

                              <div class="dropdown-toggle">
                                    Email Notifications
                                    <b class="caret"></b>
                              </div>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>


{% endblock %}