{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}

{% url 'add_extensions' as add_extensions %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Extensions</h4>
                                <div class="header">
                               <a href="{% url 'add_extensions' %}"><img src="{% static 'media/images/add.png'  %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>
                                <a href="{% url 'add_extensions' %}"><img src="{% static 'media/images/edit.png'  %}" class="" alt="pic" style="padding-left: 10px;"><span>&ensp;Edit</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th></th>
                                        <th>Extension</th>
                                        <th>First</th>
                                        <th>Last</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Mobile</th>
                                        <th>Caller ID</th>
                                        <th>Phones</th>
                                        <th></th>


                                    </thead>
                                    <tbody>
                                    {% for obj in ext_obj %}
                                        <tr>
                                            <td>
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                            </td>
                                            <td>{{ obj.extension }}</td>
                                            <td>{{ obj.vendor }}</td>
                                            <td>{{ obj.model }}</td>
                                            <td>{{ obj.model }}</td>
                                            <td>{{ obj.model }}</td>
                                            <td>{{ obj.model }}</td>
                                            <td>{{ obj.model }}</td>
                                            <td>{{ obj.model }}</td>
                                            <td>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}