{% extends 'base.html' %}
{% block pagetitle1 %}Add Ring-group{% endblock %}
{% load staticfiles %}
{% block content %}

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Agents</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">{{ name }}</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                             <form action="{% url 'add_callqueue_agent' %}" method="post">
                                 {% csrf_token %}
                                 {{ id }}
{% with ''|center:count as range %}
                                    {% for i in range  %}
{% endfor %}
                                 {% endwith %}

                                  <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Queue</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.queue_id }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Agent</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.agent }}
                                            </div>
                                        </div>
                                         <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tier Level</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.tierlevel }}

                                            </div>
                                        </div>

                                         <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tier Position</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.position }}
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

       {% endblock %}