{% extends 'base.html' %}
{% block pagetitle1 %}Add Call Queues{% endblock %}
{% load staticfiles %}
{% block content %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<!--<script src="{% static 'static/javascript/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'static/javascript/select2.min.js' %}"></script>-->

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Call Queues</h4>
                            </div>
                            <div class="content">
                            </div>
                            <div class="content">
                                <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>
<li><a href="#tab2default" data-toggle="tab">Users/Extensions</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                             <form action="{% url 'add_callqueues' %}" method="post">
                                 {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Extension</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.extension }}
                                            </div>
                                        </div>


                                    </div>

                                 <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Queue Name</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.queue_name }}
                                            </div>
                                        </div>


                                    </div>

                                <div class="row">
                                         <div class="col-md-8">
                                            <div class="form-group">
                                                <label >Poll Strategy</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.poll_strategy }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Time out</label>
                                                <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                {{ form.timeout }}
                                            </div>
                                        </div>
                                    </div>






                                </div>
                         <div class="tab-pane fade" id="tab2default">

                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Users</label>
                                                    <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                    {{ form.users }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <!--<button onclick="var el = document.getElementsByTagName('select')[0];-->
  <!--alert(getSelectValues(el));">Show selected values-->
                                                    <!--</button>-->
                                                </div>
                                            </div>
                                        </div>

                                            <button type="submit" class="btn btn-info btn-fill pull-right">Update
                                            </button>
                                            <div class="clearfix"></div>
                                    </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
<script>
$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
    });
</script>

       {% endblock %}