{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% url 'add_callqueues' as add_callqueues %}
{% block content %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Call Queues</h4>
                                <div class="header">
                                 <a href="{% url 'add_callqueues' %}"><img src="{% static 'media/images/add.png'  %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>Extension</th>
                                        <th>Queue Name</th>
                                        <th>Polling Strategy</th>
                                        <th>Timeout</th>
                                        <th></th>


                                    </thead>
                                    <tbody>
                                    {% for obj in call_que_obj %}
                                        <tr>
                                             <td><a href="{% url 'edit_callqueue' obj.id %}"><span><i class="fa fa-edit"></i></span></a>

                                            <td>{{ obj.extension }}</td>
                                            <td>{{ obj.extension }}</td>
                                            <td>{{ obj.poll_strategy }}</td>
                                            <td>{{ obj.timeout }}</td>

                                             <td><a href="{% url 'delete_callqueue' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
{% endblock %}