{% extends 'base.html' %}
{% block pagetitle1 %}CRM Integration{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">CRM </h4>
                                <div class="header">
                                <a href="add_extension.html"><img src="images/add.png" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>

                                        <th>Plugin Name</th>
                                        <th>Version</th>
                                        <th></th>



                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>Dakota Rice</td>
                                            <td>$36,738</td>

                                            <td>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}