{% extends 'base.html' %}
{% block pagetitle1 %}Backup and Restore{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Backup and Restore</h4>
                                <div class="header">
<a href="{% url 'add_backup' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Backup</span></a>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>File Name</th>
                                        <th>Date Modified</th>
                                        <th>Version</th>
                                    </thead>
                                    <tbody>
                                    {% for obj in bkp_obj %}
                                        <tr>
                                            <td>{{ obj }}</td>
                                            <td>{{ obj.date }}</td>
                                            <td>{{ obj.version }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
{% endblock %}