{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% url 'add_groups' as add_groups %}
{% block content %}<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Groups</h4>
                                <div class="header">
                                <a href="{% url 'add_groups' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>
                                    <a href="#"><img src="{% static 'media/images/edit.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Edit</span></a>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Group Name</th>
                                        <th>Total Extensions</th>


                                    </thead>
                                    <tbody>
                                    {% for obj in ext_grp_obj %}
                                        <tr>
                                            <td>{{ obj.group_name }}</td>
                                            <td>{{ obj.no_of_ext }}</td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}