{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">System Status</h4>
                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">

                                    <tbody>
                                        <tr>
                                            <td>Trunk Up</td>
                                            <td></td>
                                            <td><p>1</p></td>

                                        </tr>
                                        <tr>
                                            <td>Extension Up</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Number of Call in use</td>
                                           <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Blanklisted IPs</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Event log</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Call History</td>
                                            <td>Purge 10 Messages</td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Chat Logs</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Services
                                        <i class="fa fa-circle text-danger"></i> System Extensions

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Information</h4>

                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">

                                    <tbody>
                                        <tr>
                                            <td>FQDN</td>
                                            <td></td>
                                            <td><p>1</p></td>

                                        </tr>
                                        <tr>
                                            <td>IP</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Webmeeting FQDN</td>
                                           <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Webmeeting MCU</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Licence</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Outbound Rules</td>
                                            <td></td>
                                            <td><p>1</p></td>
                                        </tr>


                                    </tbody>
                                </table>

                            </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Events Log</h4>

                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>

                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                   <p class="category">Last Campaign Performance</p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}