body,html{
	margin: 0px;
	padding:0px;
}

/*UTG CSS STARTING*/

.otg-button  {
    background-color: #dddddd; /* Green */
    border: none;
    color: black;
  padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    float: left;
    border: 1px solid black;
}

 .otg-button:hover {
    background-color: #3e8e41;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #202736;
    position: fixed;
    height: 100%;
    overflow: auto;
    color:#fff;
}

.pad2 li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.pad2 li a.active {
    background-color: #1c2330;
    color: white;
}

.pad2 li a:hover:not(.active) {
    background-color: #202736;
    color: white;


}
