{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>UTG</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/main.css' %}" />
      <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">-->

    <!-- Custom styles for ttemplateslate -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines!
    <script src="{% static 'javascript/ie-emulation-modes-warning.js' %} "></script>-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!--[endif]-->
  </head>
  <!-- this is your template file. eg. index.html -->

<div class="sidebar">



</div>
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4" style="padding:0px 0px 0px 30px;">
        <h1>{{ title }}</h1>
        <hr/>

        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}<br />
        <input type="submit" class="btn" value="{{ title }}" />
            <!--<a href="#" class="btn-default">Forget Password?</a>-->
        </form>
    </div>
</div>
{% endblock content %}

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     -->
    <script src="{% static 'javascript/jquery.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/docs.min.js' %}"></script>

</html>
