<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>UTG PBX</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'static/css/bootstrap.min.css' %}"  rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'static/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'static/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>

<!--  Font Awsome CSS    -->
     <link href="{% static 'static/css/font-awesome.css' %}" rel="stylesheet"/>
      <link href="{% static 'static/css/font-awesome.min.css' %}" rel="stylesheet"/>



    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'static/css/demo.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
   <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->
    <link href="{% static 'static/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />


</head>
<body>
 {% url 'resetpwd' as resetpwd %}
 {% url 'login' as login %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Welcome to UTG PBX</h1>
            <div class="account-wall">
                <img class="profile-img" src="{% static 'media/images/logo.png' %}"
                    alt="">
                <form class="form-signin" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                <input type="text" class="form-control" placeholder="User name" name="username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" name="password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="{% url 'resetpwd' %}" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>

        </div>
    </div>
</div>
</body>

    <!--   Core JS Files   -->
    <script src="{% static 'static/javascript/jquery-1.10.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'static/javascript/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'static/javascript/bootstrap-checkbox-radio-switch.js' %}"></script>

    <!--  Charts Plugin -->
    <script src="{% static 'static/javascript/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'static/javascript/bootstrap-notify.js' %}"></script>



    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static 'static/javascript/light-bootstrap-dashboard.js' %}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="{% static 'static/javascript/demo.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            demo.initChartist();

            /*$.notify({
                icon: 'pe-7s-gift',
                message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });*/

        });
    </script>

</html>
