{% extends 'base.html' %}
{% block pagetitle1 %}Add Digital Receptionist{% endblock %}
{% load staticfiles %}
{% block content %}

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Digital Receptionist</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form action="{% url 'add_digital' %}" method="post">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.name }}
                                            </div>
                                        </div>


                                    </div>
<div class="row">
                                         <div class="col-md-8">
                                            <div class="form-group">
                                                <label >Extension</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.extension }}
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                         <div class="col-md-8">
                                            <div class="form-group">
                                                <label >Welcome Prompt</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.prompt }}
                                            </div>
                                        </div>
                                    </div>

                                <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >Key</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label >Action</label>
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                <label >Number</label>
                                            </div>
                                        </div>
                                     <div class="col-md-3">
                                            <div class="form-group">
                                                <label >Digit Prompt</label>
                                            </div>
                                        </div>
                                    </div>


                                <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >0</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_0 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_0 }}
                                            </div>
                                        </div>
                                 <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_0 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >1</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_1 }}
                                            </div>
                                        </div>


                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_1 }}
                                            </div>
                                        </div>
                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_1 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >2</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_2 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_2 }}
                                            </div>
                                        </div>
                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_2 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >3</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_3 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_3 }}
                                            </div>
                                        </div>
                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_3 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >4</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_4 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_4 }}
                                            </div>
                                        </div>

                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_4 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >5</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_5 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_5 }}
                                            </div>
                                        </div>

                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_5 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >6</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_6 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_6 }}
                                            </div>
                                        </div>

                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_6 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >7</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_7 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_7 }}
                                            </div>
                                        </div>

                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_7 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >8</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_8 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_8 }}
                                            </div>
                                        </div>

                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_8 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                <label >9</label>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.action_9 }}
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.ac_value_9 }}
                                            </div>
                                        </div>

                                      <div class="col-md-3">
                                            <div class="form-group">
                                                {{ form.prompt_ac_value_9 }}
                                            </div>
                                        </div>
                                    </div>

                                 <div class="row">
                                         <div class="col-md-8">
                                            <div class="form-group">
                                                <label >If No Response in seconds</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.inactive_second }}
                                            </div>
                                        </div>
                                      <div class="col-md-8">
                                            <div class="form-group">
                                                <label >Action If No Response</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.inactive_action }}
                                            </div>
                                        </div>
                                      <div class="col-md-8">
                                            <div class="form-group">
                                                <label >Invalid Input</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.invalid_action }}
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

       {% endblock %}