{% extends 'base.html' %}
{% block pagetitle1 %}Digital Receptionist{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_digital' as add_digital %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Digital Receptionist</h4>
                                <div class="header">
                                <a href="{% url 'add_digital' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>Extension</th>
                                        <th>Name</th>
                                        <th>Prompt</th>
                                        <th>Action 0</th>
                                        <th>Action 1</th>
                                        <th>Action 2</th>
                                        <th>Action 3</th>
                                        <th>Action 4</th>
                                        <th>Action 5</th>
                                        <th>Action 6</th>
                                        <th>Action 7</th>
                                        <th>Action 8</th>
                                        <th>Action 9</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                    {% for obj in rec_obj %}
                                        <tr>

                                             <td><a href="{% url 'edit_digital' obj.id %}"><span><i class="fa fa-edit"></i></span></a>
                                            <td>{{ obj.id }}</td>
                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.prompt }}</td>
                                            <td>{{ obj.action_0 }}</td>
                                            <td>{{ obj.action_1 }}</td>
                                            <td>{{ obj.action_2 }}</td>
                                            <td>{{ obj.action_3 }}</td>
                                            <td>{{ obj.action_4 }}</td>
                                            <td>{{ obj.action_5 }}</td>
                                            <td>{{ obj.action_6 }}</td>
                                            <td>{{ obj.action_7 }}</td>
                                            <td>{{ obj.action_8 }}</td>
                                            <td>{{ obj.action_9 }}</td>
                                           <td><a href="{% url 'delete_digital' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a></td>


                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}