{% extends 'base.html' %}
{% block pagetitle1 %}Domains{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_domain' as add_domain %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Domains</h4>
            <div class="header">
                <a href="{% url 'add_domain' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

            </div>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                <th></th>
                <th>Domain</th>
                <th>Is Enabled</th>
                <th>Description</th>
                <th>Max Connections</th>
                <th></th>
                </thead>
                <tbody>
                {% for obj in domain_obj %}
                <tr>
 <td><a href="{% url 'edit_domain' obj.id %}"><span><i class="fa fa-edit"></i></span></a>
                    <td>{{ obj.domain_name }}</td>
                    <td>{{ obj.is_enabled }}</td>
                    <td>{{ obj.description }}</td>
                     <td>{{ obj.max_connections }}</td>
                    <td><a href="{% url 'delete_domain' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a></td>


                </tr>
{% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}