{% extends 'base.html' %}
{% block pagetitle1 %}Add Domain{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Add Domain</h4>
        </div>
        <div class="content">

        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">
                                     <form action="{% url 'add_domain' %}" method="post">
                                         {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                    {{ form.domain_name }}
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Enabled</label>
                                                    <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                    <!--<select>-->
  <!--<option value="True">Enabled</option>-->
  <!--<option value="False">Disabled</option>-->

<!--</select>-->
                                                     {{ form.is_enabled }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Descrption</label>
                                                    <!--<input type="text" class="form-control" placeholder="918212345837" maxlength="12">-->
                                                    {{ form.description }}
                                                </div>
                                            </div>

                                        </div>
                                          <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Max Connections</label>
                                                    <!--<input type="text" class="form-control" placeholder="918212345837" maxlength="12">-->
                                                    {{ form.max_connections }}
                                                </div>
                                            </div>

                                        </div>

                                        <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}