<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static 'media/images/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>UTG PBX</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'static/css/bootstrap.min.css' %}"  rel="stylesheet" />
    <link href="{% static 'static/css/bootstrap.css' %}"  rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'static/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'static/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>

<!--  Font Awsome CSS    -->
     <link href="{% static 'static/css/font-awesome.css' %}" rel="stylesheet"/>
      <link href="{% static 'static/css/font-awesome.min.css' %}" rel="stylesheet"/>



    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'static/css/demo.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
   <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->
    <link href="{% static 'static/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
        <link href="{% static 'static/css/select2.min.css' %}" rel="stylesheet" />
     <link href="{% static 'static/css/select2.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />

<!-- CSS to make Select2 fit in with Bootstrap 3.x -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />

<!-- Include Select2 JS -->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>-->

<style type="text/css">
#select2Form .form-control-feedback {
    /* To make the feedback icon visible */
    z-index: 100;
}
</style>




</head>
<body>
<!--<script src="{% static 'static/javascript/select2.js' %}"></script>-->
<!--<script src="{% static 'static/javascript/select2.min.js' %}"></script>-->

<div class="wrapper">
{%include "sidebar.html" %}
    <div class="main-panel">
<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% block pagetitle1 %}{% endblock %}</a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                         <li class="dropdown">
                              <a href="{% url 'logout' %}" class="dropdown-toggle" data-toggle="dropdown">
                                    Logout
<i class="fa fa-power-off" aria-hidden="true"></i>
                              </a>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

{%include "footer.html" %}

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static 'static/javascript/jquery-1.10.2.js' %}" type="text/javascript"></script>
	<script src="{% static 'static/javascript/bootstrap.min.js' %}" type="text/javascript"></script>


	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{% static 'static/javascript/bootstrap-checkbox-radio-switch.js' %}"></script>

	<!--  Charts Plugin -->
	<script src="{% static 'static/javascript/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'static/javascript/bootstrap-notify.js' %}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="{% static 'static/javascript/light-bootstrap-dashboard.js' %}"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="{% static 'static/javascript/demo.js' %}"></script>
<!--<script src="{% static 'static/javascript/select2.js' %}"></script>-->
<!--<script src="{% static 'static/javascript/select2.min.js' %}"></script>-->


</html>
