 <footer class="footer">
            <div class="container-fluid">

                <p class="copyright pull-right">
                    &copy; 2017 <a href="http://www.pristinesofts.com">Pristinesofts</a>
                </p>
            </div>
        </footer>