{% load staticfiles %}


<div class="sidebar" data-color="utg" style="overflow-x: hidden;">
        <div class="sidebar-wrapper" style="background-color: #262a34  ! important; overflow: hidden; " >
            <div class="logo" style="background-color: white;  ">
                <a href="#" class="simple-text">
                    <img src="{% static 'media/images/logo.png' %}" />
                </a>
            </div>
            {% url 'login' as login %}
            {% url 'dasboard' as dasboard %}
            {% url 'users' as users %}
            {% url 'diaplan' as dialplan %}
            {% url 'domains' as domains %}
            {% url 'devices' as devices %}
            {% url 'extensions' as extensions %}
            {% url 'groups' as groups %}
            {% url 'contacts' as contacts %}
            {% url 'sip' as sip %}
            {% url 'inbound' as inbound %}
            {% url 'outbound' as outbound %}
            {% url 'digital' as digital %}
            {% url 'ringgroups' as ringgroups %}
            {% url 'callqueues' as callqueues %}
            {% url 'bridges' as bridges %}
            {% url 'recordings' as recordings %}
            {% url 'backup' as backup %}
            {% url 'calllogs' as calllogs %}
            {% url 'chatlogs' as chatlogs %}
            {% url 'settings' as settings %}
            {% url 'view_crm' as view_crm %}
            <ul class="nav" style="height:215vh;">
                <li {% if request.path == dasboard %} class="active" {% endif %}>
                    <a href="{% url 'dasboard' %}">
                        <i class="fa fa-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li {% if request.path == users %} class="active" {% endif %}>
                    <a href="{% url 'users' %}">
                        <i class="fa fa-user"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li {% if request.path == dialplan %} class="active" {% endif %}>
                    <a href="{% url 'diaplan' %}">
                        <i class="fa fa-exchange"></i>
                        <p>Dialplan</p>
                    </a>
                </li>
                <li {% if request.path == domains %} class="active" {% endif %}>
                    <a href="{% url 'domains' %}">
                        <i class="fa fa-at"></i>
                        <p>Domains</p>
                    </a>
                </li>
                <li {% if request.path == devices %} class="active" {% endif %}>
                    <a href="{% url 'devices' %}">
                        <i class="fa fa-phone-square"></i>
                        <p>Phones</p>
                    </a>
                </li>
                <!--<li {% if request.path == extensions %} class="active" {% endif %}>-->
                    <!--<a href="{% url 'extensions' %}">-->
                        <!--<i class="fa fa-tty"></i>-->
                        <!--<p>Extensions</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li {% if request.path == groups %} class="active" {% endif %}>-->
                    <!--<a href="{% url 'groups' %}">-->
                        <!--<i class="fa fa-users"></i>-->
                        <!--<p>Groups</p>-->
                    <!--</a>-->
                <!--</li>-->
                <li {% if request.path == contacts %} class="active" {% endif %}>
                    <a href="{% url 'contacts' %}">
                        <i class="fa fa-address-book"></i>
                        <p>Contacts</p>
                    </a>
                </li>
                <li {% if request.path == sip %} class="active" {% endif %}>
                    <a href="{% url 'sip'  %}">
                        <i class="fa fa-volume-control-phone"></i>
                        <p>SIP Trunks</p>
                    </a>
                </li>
                <li {% if request.path == inbound %} class="active" {% endif %}>
                    <a href="{% url 'inbound'  %}">
                        <i class="fa fa-compress"></i>
                        <p>Inbound Rules</p>
                    </a>
                </li>
                <li {% if request.path == outbound %} class="active" {% endif %}>
                    <a href="{% url 'outbound'  %}">
                        <i class="fa fa-expand"></i>
                        <p>Outbound Rules</p>
                    </a>
                </li>
                <li {% if request.path == digital %} class="active" {% endif %}>
                    <a href="{% url 'digital'  %}">
                        <i class="fa fa-music"></i>
                        <p>Digital Receptionist</p>
                    </a>
                </li>
                <li {% if request.path == ringgroups %} class="active" {% endif %}>
                    <a href="{% url 'ringgroups'  %}">
                        <i class="fa fa-sitemap"></i>
                        <p>Ring Groups</p>
                    </a>
                </li>
                <li {% if request.path == callqueues %} class="active" {% endif %}>
                    <a href="{% url 'callqueues'  %}">
                        <i class="fa fa-headphones"></i>
                        <p>Call Queues</p>
                    </a>
                </li>
                <li {% if request.path == bridges %} class="active" {% endif %}>
                    <a href="{% url 'view_crm'  %}">
                        <i class="fa fa-globe"></i>
                        <p>CRM Integration</p>
                    </a>
                </li>
                <li {% if request.path == recordings %} class="active" {% endif %}>
                    <a href="{% url 'recordings'  %}">
                        <i class="fa fa-bars"></i>
                        <p>Recordings</p>
                    </a>
                </li>
               <li {% if request.path == backup %} class="active" {% endif %}>
                    <a href="{% url 'backup'  %}">
                        <i class="fa fa-file-archive-o"></i>
                        <p>Backup and Restore</p>
                    </a>
                </li>
                <li {% if request.path == calllogs %} class="active" {% endif %}>
                    <a href="{% url 'calllogs'  %}">
                        <i class="fa fa-file-audio-o"></i>
                        <p>Call Logs</p>
                    </a>
                </li>
                <li {% if request.path == chatlogs %} class="active" {% endif %}>
                    <a href="{% url 'chatlogs'  %}">
                        <i class="fa fa-file-code-o"></i>
                        <p>Chat Logs</p>
                    </a>
                </li>
                <li {% if request.path == settings %} class="active" {% endif %}>
                    <a href="{% url 'settings'  %}">
                        <i class="fa fa-cogs"></i>
                        <p>Settings</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>