{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}


<!--<script type="text/javascript">-->
    <!--list.onclick = function(e) {-->
  <!--e.preventDefault();-->

  <!--var elm = e.target;-->
  <!--var audio = document.getElementById('audio');-->

  <!--var source = document.getElementById('audioSource');-->
  <!--source.src = elm.getAttribute('data-value');-->

  <!--audio.load(); //call this to just preload the audio without playing-->
  <!--audio.play(); //call this to play the song right away-->
<!--};-->
<!--</script>-->
<div class="col-md-12" onload="generateFullPath()">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Recordings</h4>
                                <div class="header">
                                <a href="#"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Download</span></a>

                            </div>
                            </div>
                             <form action="{% url 'add_users' %}" method="post">
                                 {% csrf_token %}
                            <div class="content table-responsive table-full-width">

                                <table class="table table-hover table-striped">
                                    <thead>

                                        <th>File Name</th>


                                    </thead>
                                    <tbody>

                                    {% for objs,objr in obj %}

                                            <td id="list">{{ objs }}</td>

 <td>
     <audio controls="controls" id="audio">
         <!--<source src="{% static '\2017-11-16-07-26-23.1002_part1.wav'%}" type="audio/wav">-->
         <source src="{% autoescape off %} {{ objr }} {% endautoescape %}" type="audio/wav">
 <!--{{ source_obj|safe }}-->
</audio> </td>


                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </form>
                        </div>
                    </div>


{% endblock %}