{% extends 'base.html' %}
{% block pagetitle1 %}Add Contacts{% endblock %}
{% load staticfiles %}
{% block content %}

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add SIP</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form action="{% url 'add_sip' %}" method="post">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.name }}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >User Name</label>
                                                <!--<input type="email" class="form-control" placeholder="demo@utg.com">-->
                                                {{ form.username }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                {{ form.password }}
                                            </div>
                                        </div>

                                    </div>

                                 <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Host</label>
                                                <!--<input type="text" class="form-control" placeholder="Warren" >-->
                                                {{ form.host }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Proxy</label>
                                                <!--<input type="text" class="form-control" placeholder="Buffet">-->
                                                {{ form.proxy }}
                                            </div>
                                        </div>
                                    </div>




                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

       {% endblock %}