{% extends 'base.html' %}
{% block pagetitle1 %}Sip Trunks{% endblock %}
{% load staticfiles %}
{% url 'add_sip' as add_sip %}
{% block content %}<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">SIP Trunks</h4>
                                <div class="header">
                                <a href="{% url 'add_sip' %}"><img src="{% static 'media/images/add.png' %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>
                                     </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>
                                        <th>Name</th>
                                        <th>User Name</th>
                                        <th>Host</th>
                                        <th>Proxy</th>


                                    </thead>
                                    <tbody>
                                    {% for obj in sip_obj %}
                                        <tr>
                                             <td><a href="{% url 'edit_sip' obj.id %}"><span><i class="fa fa-edit"></i></span></a>

                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.user_name }}</td>
                                            <td>{{ obj.host }}</td>
                                            <td>{{ obj.proxy }}</td>
<td><a href="{% url 'delete_sip' obj.id %}" style='color:#ea1d1d;'><span><i class="fa fa-times"></i></span></a>


                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}