
{% extends 'base.html' %}
{% csrf_token %}
{% block pagetitle1 %}Dashboard{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-6">

                        <div class="card">
                            <div class="header">
                                <h4 class="title">PBX Status</h4>
                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">

                                    <tbody>
                                        <tr>
                                            <td>Trunk Up</td>
                                            <td></td>
                                            <td><p>{{ sip_trunks }}</p></td>

                                        </tr>
                                        <tr>
                                            <td>Extension Up</td>
                                            <td></td>
                                            <td><p>{{ extension_count }}</p></td>
                                        </tr>
                                        <tr>
                                            <td>Number of Call in use</td>
                                           <td></td>
                                            <td><p>1</p></td>
                                        </tr>
                                        <tr>
                                            <td>Blanklisted IPs</td>
                                            <td></td>
                                            <td><p>{{ blacklit }}</p></td>
                                        </tr>
                                        <!--<tr>-->
                                            <!--<td>Event log</td>-->
                                            <!--<td></td>-->
                                            <!--<td><p>1</p></td>-->
                                        <!--</tr>-->
                                        <tr>
                                            <td>Call Logs</td>
                                            <td></td>
                                            <td><p>{{ call_history }}</p></td>
                                        </tr>
                                        <tr>
                                            <td>Chat Logs</td>
                                            <td></td>
                                            <td><p>{{ catlog }}</p></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Information</h4>

                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">

                                    <tbody>
                                        <!--<tr>-->
                                            <!--<td>FQDN</td>-->
                                            <!--<td></td>-->
                                            <!--<td><p>1</p></td>-->

                                        <!--</tr>-->
                                        
                                        <!--<tr>-->
                                            <!--<td>Webmeeting FQDN</td>-->
                                           <!--<td></td>-->
                                            <!--<td><p>1</p></td>-->
                                        <!--</tr>-->

                                        <tr>
                                            <td>Disk Usage</td>
                                            <td></td>
                                            <td><p>{{ disk.percent }} %</p></td>
                                        </tr>
                                        <tr>
                                            <td>Memory Usage</td>
                                            <td></td>
                                            <td><p>{{ spce.percent }} %</p></td>
                                        </tr>
                                        <tr>
                                            <td>CPU Usage</td>
                                            <td></td>
                                            <td><p>{{cpuus.system}} %</p></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>






{% endblock %}