{% extends 'base.html' %}
{% block pagetitle1 %}Users{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Call Logs</h4>
                                <div class="header">
                                 <a href="#"><img src="{% static 'media/images/add.png'  %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Export</span></a>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                         <th>Duration</th>
                                        <th>From</th>
                                        <th>To</th>


                                    </thead>
                                    <tbody>
                                    {% for fromvalue,tovalue,starttime,endtime,duration in obj %}
                                        <tr>
                                            <!--<td>{{ obj.start_stamp }}</td>-->
                                            <!--<td>{{ obj.end_stamp }}</td>-->
                                            <!--<td>{{ obj.duration }}</td>-->
                                            <!--<td>{{ obj.caller_id_number }}</td>-->
                                             <!--<td>{{ obj.destination_number }}</td>-->

                                            <td>{{ starttime }}</td>
                                            <td>{{ endtime }}</td>
                                            <td>{{ duration }}</td>
                                             <td>{{ fromvalue }}</td>
                                            <td>{{ tovalue }}</td>




                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

{% endblock %}