{% extends 'base.html' %}
{% block pagetitle1 %}Add to Blacklist{% endblock %}
{% load staticfiles %}
{% block content %}

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add to Blacklist</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">General</a></li>

                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                             <form action="{% url 'add_blocklist' %}" method="post">
                                 {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>User</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.user }}
                                            </div>
                                        </div>


                                    </div>

                                 <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <!--<input type="text" class="form-control"  placeholder="0000">-->
                                                {{ form.description }}
                                            </div>
                                        </div>


                                    </div>




                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

       {% endblock %}