{% extends 'base.html' %}
{% block pagetitle1 %}Blacklisted Numbers{% endblock %}
{% load staticfiles %}
{% block content %}
{% url 'add_groups' as add_groups %}
<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Blacklist</h4>
                                <div class="header">
                                <a href="{% url 'add_blocklist' %}"><img src="{% static 'media/images/add.png'  %}" class="" alt="pic" style="padding-left:10px;"><span>&ensp;Add</span></a>

                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Caller ID</th>
                                        <th>Description</th>

                                        <th></th>


                                    </thead>
                                    <tbody>
                                    {% for obj in blk_obj %}
                                        <tr>
                                            <td>{{ obj.user }}</td>
                                            <td>{{ obj.description }}</td>

                                            <td>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                            </td>

                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
{% endblock %}