{% extends 'base.html' %}
{% block pagetitle1 %}UTG Clients{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Push</h4>
                            </div>
                            <div class="content">

                            </div>
                            <div class="content">
                                <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>API Key</label>
                                                <input type="text" class="form-control"  placeholder="0000">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>GCM IDs</label>
                                                <input type="email" class="form-control" placeholder="demo@utg.com">
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-info btn-fill pull-right">Wakeup Device</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>


                    </div>
                </div>
            </div>
        </div>


{% endblock %}